*.zip
*.rar
*.pdf
*.exe
*.lib
*.dll

build*
x64
bin
Bin
.vs
.vscode
__MACOSX
ext
ext_build

*/resources/*
!*/resources/textures

# Added files for SunTemple
!*/resources/SunTemple/skybox
!*/resources/SunTemple/SunTemple.json

unused